<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="The best bet slip sharing platform in Africa, Join now!! lets gamble.">
    <meta name="keywords" content="Broque, logs, Broque.com, scam">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Broque.com | Home</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elegant-icons.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest')}}">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                {% if not session['username']%}
                <a href="/signin">Sign in</a>
                {% else %}
                <a href="/logout">Logout</a>
                {% endif %}
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                {% if not session['username'] %}
                <span>USD <i class="arrow_carrot-down"></i></span>
                {% else %}
                <span>{{session['currency']}} <i class="arrow_carrot-down"></i></span>
                {% endif %}
                <ul>
                    <li>{{session['currency']}}</li>

                    {% if not session['username'] and session['currency'] == 'USD' %}
                    <li></li>
                    {% else %}
                    <li>USD</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            {% if not session['username']%}
            <button type="button" class="btn btn-primary" onclick="window.location.href='/signin'"><li class="fa fa-sign-in" style="color: white;"></li> Log in</button>
            {% else %}
            <div class="price"><span style="font-size: 14px; color: #1d5ab6;">{{session['currency']}}</span> 0.00</div>
            {% endif %}
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>The best bet sharing platform in Africa</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>The best bet sharing platform in Africa</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                {% if not session['username']%}
                                <a href="/signin">Sign in</a>
                                {% else %}
                                <a href="/logout">Logout</a>
                                {% endif %}
                                <a href="#">FAQs</a>
                            </div>
                            <div class="header__top__hover">
                                {% if not session['username'] %}
                                <span>USD <i class="arrow_carrot-down"></i></span>
                                {% else %}
                                <span>{{session['currency']}} <i class="arrow_carrot-down"></i></span>
                                {% endif %}
                                
                                <ul>
                                    <li>{{session['currency']}}</li>
                                    {% if not session['username'] and session['currency'] == 'USD' %}
                                    <li></li>
                                    {% else %}
                                    <li>USD</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/"><img src="{{ url_for('static', filename='images/logo.jpg') }}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/slips">Slips</a></li>
                            <li><a href="#">Blog</a></li>
                            {% if session['username']%}
                            <li><a href="#">Account</a>
                                <ul class="dropdown">
                                    <li><a href="/submission">Share Slips</a></li>
                                    <li><a href="/dashboard">Purchases</a></li>
                                    <li><a href="/blog-sub">Share Blog Post</a></li>
                                    <li><a href="#">SMS Bomber</a></li>
                                    <li><a href="#">Email Bomber</a></li>
                                    <li><a href="/settings">Settings</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            <li><a href="/about">About</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        {% if not session['username']%}
                        <button type="button" class="btn btn-primary" onclick="window.location.href='/signin'"><li class="fa fa-sign-in" style="color: white;"></li> Log in</button>
                        {% else %}
                        <div class="price"><span style="font-size: 14px; color: #1d5ab6;">{{session['currency']}}</span> 0.00</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="{{ url_for('static', filename='images/hero/hero-2.jpg') }}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Bet like a pro</h6>
                                <h2>Buy bet slips</h2>
                                <p>Search through bet slips, find a slip from your favorite bookmaker and stake it.</p>
                                <a href="/slips" class="primary-btn">Buy slips<span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="{{ url_for('static', filename='images/hero/hero-2.jpg')}}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Sell like a pro.</h6>
                                <h2>Sell bet slips</h2>
                                <p>Broque.com gives you the ability to sell and buy all bet slips from your favorite bookmaker.</p>
                                <a href="/submission" class="primary-btn">Sell slips<span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <section class="banner spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-4">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="{{ url_for('static', filename='images/banner/banner-1.png')}}" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Buy premium slips</h2> 
                            <a href="/slips">Buy now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner__item banner__item--middle">
                        <div class="banner__item__pic">
                            <img src="{{ url_for('static', filename='images/banner/banner-2.jpg')}}" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Read blog posts</h2>
                            <a href="#">Read now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner__item banner__item--last">
                        <div class="banner__item__pic">
                            <img src="{{ url_for('static', filename='images/banner/banner-3.png')}}" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Sell professional slips</h2>
                            <a href="/submission">Sell now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <li class="active" data-filter="*">All slips</li>
                        <li data-filter=".hot-sales">Trending Slips</li>
                        <li data-filter=".new-arrivals">New slips</li>
                    </ul>
                </div>
            </div>
            <div class="row product__filter">
                {% for slip in home_slips %}
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename='images/product/'+slip.bookmaker+'.png')}}">
                            <span class="label">New</span>
                        </div>
                        <div class="product__item__text">
                            <h6>{{ slip.bookmaker}} slip ({{slip.matches}} matches)</h6>
                            <a href="/detail?ref={{slip.slip_ref}}" class="add-cart">Open slip</a>
                            <div class="rating">
                                <span>{{slip.likes}}</span> Likes
                            </div>
                            {% if slip.price == '0.00' %}
                            <h5 id="like">Free</h5>
                            {% else %}
                            <h5 id="like">{{ slip.price }} <span style="font-size: 14px; color: #1d5ab6;">{{ session['currency']}}</span></h5>
                            {% endif %}
                            <div class="product__color__select" style="font-size: 13px;">
                                {{slip.odds}} odds
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {%if home_slips|length == 0%}
            <div id="pass">
                <i class="fa fa-desktop" ></i>
                <p>Nothing to show here</p>
                <button type="button" class="btn btn-primary" onclick="window.location.href='/'">Refresh</button>
            </div>
            {% endif %}
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Instagram Section Begin -->
    <section class="instagram spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="instagram__pic">
                        <div class="instagram__pic__item set-bg" data-setbg="{{ url_for('static', filename='images/product/Betway.png')}}"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="{{ url_for('static', filename='images/product/SportyBet.png')}}"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="{{ url_for('static', filename='images/product/1xBet.png')}}"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="instagram__text">
                        <h2>Bookmakers</h2>
                        <p>Place bet with bookmakers of your choice.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Instagram Section End -->

    <!-- Latest Blog Section Begin -->
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Latest Blog Posts</span>
                        <h2>Trending posts</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for blog in blogs %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="{{ url_for('static', filename='images/about/gamble.JPG')}}"></div>
                        <div class="blog__item__text">
                            <span><img src="{{ url_for('static', filename='images/icon/calendar.png')}}" alt=""> {{ blog.date }}</span>
                            <h5>{{ blog.title}}</h5>
                            <a href="/blog-detail?ref={{blog.ref}}">Read More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {%if blogs|length == 0%}
            <div id="pass">
                <i class="fa fa-desktop" ></i>
                <p>Nothing to show here</p>
                <button type="button" class="btn btn-primary" onclick="window.location.href='/'">Refresh</button>
            </div>
        {% endif %}
    </section>
    <!-- Latest Blog Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="/"><img src="{{ url_for('static', filename='images/footer-logo.png')}}" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="{{ url_for('static', filename='images/payment.png')}}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Links</h6>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/slips">Slips</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="/about">About</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewsLetter</h6>
                        <div class="footer__newslatter">
                            <p>Subscribe to our newsletter now to get notified of new items.</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            All rights reserved | Made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> from <a href="#">Broque.com</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <style>
        #pass{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 4%;
        }
        #pass i{
            font-size: 4em;
            margin-bottom: 20px;
            color: #3a3a3a;;
        }
        #pass p{
            font-size: 2em;
            margin-bottom: 20px;
            color: #3a3a3a;
        }
    </style>
    <!-- Js Plugins -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nice-select.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nicescroll.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.countdown.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slicknav.js')}}"></script>
    <script src="{{ url_for('static', filename='js/mixitup.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    <script>
        function addLike(like, ref){
    var entry = {'like':like, 'ref':ref}
    const url = window.location.origin+"/addlike"

    fetch(url, {
        method:"POST",
        credentials:"include",
        body: JSON.stringify(entry),
        cache:"no-cache",
        headers: new Headers({
            "content-type": "application/json"
        })
    })
    .then(
        function(response){
            response.json().then(function(data){
                if(response.status === 201){
                    window.location.href = data['url']
                }else if(response.status === 200){
                    //dhuacgiu
                }else if(response.status =! 200){
                    console.log("There is a problem")
                }
            })
        }
    )
    .catch(function(error){
        console.log(error)
    })
    
    
}
    </script>
</body>

</html>