<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="A place you can buy and sell anything.">
    <meta name="keywords" content="broke, logs, broke.com, scam">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Broke.com | Detail</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elegant-icons.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>

<body">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                {% if not session['username']%}
                <a href="/signin">Sign in</a>
                {% else %}
                <a href="/logout">Logout</a>
                {% endif %}
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>GHS</li>
                    <li>NGN</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="{{ url_for('static', filename='images/icon/search.png')}}" alt=""></a>
            <a href="#"><img src="{{ url_for('static', filename='images/icon/heart.png')}}" alt=""></a>
            <a href="#"><img src="{{ url_for('static', filename='images/icon/cart.png')}}" alt=""></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>The best bet sharing platform in Africa</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>The best bet sharing platform in Africa</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                {% if not session['username']%}
                                <a href="/signin">Sign in</a>
                                {% else %}
                                <a href="/logout">Logout</a>
                                {% endif %}
                            </div>
                            <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>GHS</li>
                                    <li>NGN</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/"><img src="{{ url_for('static', filename='images/logo.jpg')}}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active"><a href="/slips">Slips</a></li>
                            <li><a href="#">Blog</a></li>
                            {% if session['username']%}
                            <li><a href="#">Account</a>
                                <ul class="dropdown">
                                    <li><a href="/submission">Share Odds</a></li>
                                    <li><a href="/dashboard">Purchases</a></li>
                                    <li><a href="">SMS Sender</a></li>
                                    <li><a href="#">SMS Bomber</a></li>
                                    <li><a href="#">Email Bomber</a></li>
                                    <li><a href="/settings">Settings</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            <li><a href="#">About</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="{{ url_for('static', filename='images/icon/search.png')}}" alt=""></a>
                        <a href="#"><img src="{{ url_for('static', filename='images/icon/heart.png')}}" alt=""></a>
                        <a href="#"><img src="{{ url_for('static', filename='images/icon/cart.png')}}" alt=""></a>
                        <div class="price">$0.00</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Shop Details Section Begin -->
    <section class="shop-details">
        <div class="product__details__pic">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__breadcrumb">
                            <a href="./index.html">Home</a>
                            <a href="./shop.html">Shop</a>
                            <span>Product Details</span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                    <div class="product__details__pic__item">
                        <img src="{{ url_for('static', filename='images/shop-details/'+slip.bookmaker+'.PNG')}}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="product__details__content">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="product__details__text">
                            <h4>{{ slip.bookmaker}} slip</h4>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span> - 5 Reviews</span>
                            </div>
                            <h3>{{slip.price}} <span>50.00</span></h3>
                            <p>{{slip.description}}</p>
                            <div class="product__details__option">
                                <div class="product__details__option__size">
                                    <span id='like'>{{slip.likes}}</span><span> Likes</span>
                                </div>
                                <div class="product__details__option__color">
                                    <label class="c-4" for="sp-4" >
                                        <input type="radio" id="sp-4" onclick="addLike(-1)">
                                    </label>
                                    <label class="c-9" for="sp-9">
                                        <input type="radio" id="sp-9"  onclick="addLike(1)">
                                    </label>
                                </div>
                            </div>
                            
                            <div class="product__details__btns__option">
                                <a><i class="fa fa-link"></i> Open slip in</a>
                                <a href="{{slip.bkl}}"><i class="fa fa-arrow-right"></i> {{slip.bookmaker}}</a>
                            </div>
                            <div class="product__details__last__option">
                                <h5><span>Guaranteed Safe Checkout</span></h5>
                                <img src="{{ url_for('static', filename='images/shop-details/details-payment.png')}}" alt="">
                                <ul>
                                    <li><span>Bookmaker:</span> {{slip.bookmaker}}</li>
                                    <li><span>Number of matches:</span> {{slip.matches}}</li>
                                    <li><span>By:</span> {{name}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__tab">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tabs-5"
                                    role="tab">Description</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-6" role="tab" id="coms"></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-7" role="tab">Additional
                                    information</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tabs-5" role="tabpanel">
                                    <div class="product__details__tab__content">
                                        <p class="note">Nam tempus turpis at metus scelerisque placerat nulla deumantos
                                            solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis
                                            ut risus. Sedcus faucibus an sullamcorper mattis drostique des commodo
                                        pharetras loremos.</p>
                                        <div class="product__details__tab__content__item">
                                            <h5>Products Infomation</h5>
                                            <p>A Pocket PC is a handheld computer, which features many of the same
                                                capabilities as a modern PC. These handy little devices allow
                                                individuals to retrieve and store e-mail messages, create a contact
                                                file, coordinate appointments, surf the internet, exchange text messages
                                                and more. Every product that is labeled as a Pocket PC must be
                                                accompanied with specific software to operate the unit and must feature
                                            a touchscreen and touchpad.</p>
                                            <p>As is the case with any new technology product, the cost of a Pocket PC
                                                was substantial during it’s early release. For approximately $700.00,
                                                consumers could purchase one of top-of-the-line Pocket PCs in 2003.
                                                These days, customers are finding that prices have become much more
                                                reasonable now that the newness is wearing off. For approximately
                                            $350.00, a new Pocket PC can now be purchased.</p>
                                        </div>
                                        <div class="product__details__tab__content__item">
                                            <h5>Material used</h5>
                                            <p>Polyester is deemed lower quality due to its none natural quality’s. Made
                                                from synthetic materials, not natural like wool. Polyester suits become
                                                creased easily and are known for not being breathable. Polyester suits
                                                tend to have a shine to them compared to wool and cotton suits, this can
                                                make the suit look cheap. The texture of velvet is luxurious and
                                                breathable. Velvet is a great choice for dinner party jacket and can be
                                            worn all year round.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tabs-6" role="tabpanel">
                                    <div class="product__details__tab__content">
                                        <div class="product__details__tab__content__item" id="comments">
                                            
                                        </div>
                                        <div class="container">
                                            <div class="checkout__form">
                                                <form >
                                                    <div class="row">
                                                        <div class="col-lg-8 col-md-6">
                                                            <h6 class="checkout__title"></h6>
                                                            
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div class="checkout__input">
                                                                        <p>Add a comment<span>*</span></p>
                                                                        <div class="contact__form">
                                                                            <div class="row">
                                                                                <div class="col-lg-12">
                                                                                    <textarea id="comment" placeholder="Add a comment" name="comment" maxlength="200" required></textarea>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <button type="button" class="site-btn" onclick="addComments();">Add a comment</button>
                                                                </div>
                                                                
                                                            </div>
                                                                
                                                        </div>
                                                        <div class="col-lg-4 col-md-6">
                                                            <div class="checkout__order">
                                                                <h4 class="order__title">Caution!</h4>
                                                                <div class="checkout__order__products">
                                                                    Please make sure your comment follows our community comment guideline. 
                                                                </div>
                                                                
                                                                <p>Comment may be removed if it goes against our community guidelines.</p>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tabs-7" role="tabpanel">
                                    <div class="product__details__tab__content">
                                        <p class="note">Nam tempus turpis at metus scelerisque placerat nulla deumantos
                                            solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis
                                            ut risus. Sedcus faucibus an sullamcorper mattis drostique des commodo
                                        pharetras loremos.</p>
                                        <div class="product__details__tab__content__item">
                                            <h5>Products Infomation</h5>
                                            <p>A Pocket PC is a handheld computer, which features many of the same
                                                capabilities as a modern PC. These handy little devices allow
                                                individuals to retrieve and store e-mail messages, create a contact
                                                file, coordinate appointments, surf the internet, exchange text messages
                                                and more. Every product that is labeled as a Pocket PC must be
                                                accompanied with specific software to operate the unit and must feature
                                            a touchscreen and touchpad.</p>
                                            <p>As is the case with any new technology product, the cost of a Pocket PC
                                                was substantial during it’s early release. For approximately $700.00,
                                                consumers could purchase one of top-of-the-line Pocket PCs in 2003.
                                                These days, customers are finding that prices have become much more
                                                reasonable now that the newness is wearing off. For approximately
                                            $350.00, a new Pocket PC can now be purchased.</p>
                                        </div>
                                        <div class="product__details__tab__content__item">
                                            <h5>Material used</h5>
                                            <p>Polyester is deemed lower quality due to its none natural quality’s. Made
                                                from synthetic materials, not natural like wool. Polyester suits become
                                                creased easily and are known for not being breathable. Polyester suits
                                                tend to have a shine to them compared to wool and cotton suits, this can
                                                make the suit look cheap. The texture of velvet is luxurious and
                                                breathable. Velvet is a great choice for dinner party jacket and can be
                                            worn all year round.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Details Section End -->

    <!-- Related Section Begin -->
    <section class="related spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="related-title">Related Slips</h3>
                </div>
            </div>
            <div class="row">
                {% for slip in addt_slips %}
                <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename='images/product/'+slip.bookmaker+'.png')}}">
                            <span class="label">New</span>
                        </div>
                        <div class="product__item__text">
                            <h6>{{ slip.bookmaker}} slip ({{slip.matches}} matches)</h6>
                            <a href="/detail?ref={{slip.slip_ref}}" class="add-cart">Open slip</a>
                            <div class="rating">
                                <span>{{slip.likes}}</span> Likes
                            </div>
                            <h5 id="like">{{ slip.price }}</h5>
                            <div class="product__color__select" style="font-size: 13px;">
                                {{slip.odds}} odds
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {%if addt_slips|length == 0%}
            <div id="pass">
                <i class="fa fa-desktop" ></i>
                <p>Nothing to show here</p>
                <button type="button" class="btn btn-primary" onclick="window.location.href='/'">Refresh</button>
            </div>
            {% endif %}
        </div>
    </section>
    <!-- Related Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="{{ url_for('static', filename='images/footer-logo.png')}}" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="{{ url_for('static', filename='images/payment.png')}}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewsLetter</h6>
                        <div class="footer__newslatter">
                            <p>Subscribe to our newsletter now to get notified of new items.</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            All rights reserved | Made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> from <a href="#" target="#">Broke.com</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nice-select.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nicescroll.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.countdown.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slicknav.js')}}"></script>
    <script src="{{ url_for('static', filename='js/mixitup.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    <script>
    function  getMessages(){
        var cont = document.getElementById("comments")
        var coms = document.getElementById("coms")
        const url = window.location.origin+"/getcomments?ref={{slip.slip_ref}}"
        fetch(url)
        .then(response => response.json())  
        .then(json => {
            len = json.comments.length
            coms.innerHTML = "Comments (" + len + ")"
            cont.innerHTML = ""
            for(var i=0; i < json.comments.length; i++){
                var obj = json.comments[i];
                cont.innerHTML += "<p><strong>"+ obj.name+":</strong> " + obj.comment+"</p><br/>"
            }
        //alert(JSON.stringify(json.message))
        })
}

function addComments(){
    comment = document.getElementById("comment").value;
    document.getElementById("comment").value = ""
    ref = "{{slip.slip_ref}}"
    var entry = {'comment':comment, 'ref':ref}
    const url = window.location.origin+"/addcomments"

    fetch(url, {
        method:"POST",
        credentials:"include",
        body: JSON.stringify(entry),
        cache:"no-cache",
        headers: new Headers({
            "content-type": "application/json"
        })
    })
    .then(
        function(response){
            response.json().then(function(data){
                if(response.status == 201){
                    window.location.href = data['url']
                }else if(response.status !== 200){
                    console.log("There is a problem")
                }
            })
        }
    )
    .catch(function(error){
        console.log(error)
    })
    
    
}
function addLike(like){
    ref = "{{slip.slip_ref}}"
    var entry = {'like':like, 'ref':ref}
    const url = window.location.origin+"/addlike"

    fetch(url, {
        method:"POST",
        credentials:"include",
        body: JSON.stringify(entry),
        cache:"no-cache",
        headers: new Headers({
            "content-type": "application/json"
        })
    })
    .then(
        function(response){
            response.json().then(function(data){
                if(response.status === 201){
                    window.location.href = data['url']
                }else if(response.status === 200){
                    //dhuacgiu
                }else if(response.status =! 200){
                    console.log("There is a problem")
                }
            })
        }
    )
    .catch(function(error){
        console.log(error)
    })
    
    
}
setInterval(()=> {
    getMessages()
}, 1000)
    </script>
</body>

</html>